$mat-primary-blue: (
  50 : #e2f7f7,
  100 : #b6eaea,
  200 : #86dddd,
  300 : #55cfcf,
  400 : #30c4c4,
  500 : #0cbaba,
  600 : #0ab3b3,
  700 : #08abab,
  800 : #06a3a3,
  900 : #039494,
  A100 : #bfffff,
  A200 : #8cffff,
  A400 : #59ffff,
  A700 : #40ffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-primary-green: (
  50 : #e9f3e7,
  100 : #c9e2c2,
  200 : #a5cf99,
  300 : #80bb70,
  400 : #65ad52,
  500 : #4a9e33,
  600 : #43962e,
  700 : #3a8c27,
  800 : #328220,
  900 : #227014,
  A100 : #b3ffa7,
  A200 : #86ff74,
  A400 : #59ff41,
  A700 : #43ff28,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
