@import 'material.scss';

.display-card {
    background: $card-background;
    border-radius: 0.5rem;
    box-shadow: $card-shadow;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 2rem);
    max-width: 350px;
    padding: 1rem;
    transition: all 0.2s;

    &:hover {
        background: $card-background-hover;
    }

    img {
        height: 14rem;
        object-fit: contain;
        flex-grow: 1;

        &.logo {
            height: 18px;
            padding-right: 0.5rem;
        }
    }

    div.button-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}