@use '@angular/material' as mat;
@import 'material.scss';

$active-button-color: mat.get-color-from-palette($mat-primary, 800);

mat-sidenav-container {
    height: 100%;
    max-height: 100vh;

    mat-sidenav {
        padding: 1rem;
        background-color: $card-background;

        a.mat-button {
            display: block;
            text-align: left;
            margin: 0.25rem 0;
        }

        a.menu-item.active-link {
            background-color: $active-button-color;
        }
    }
}

a.home-button {
    font-family: 'Comfortaa';
    font-size: 1.2rem;
}

.mobile-spacer {
    flex-grow: 1;
    width: 0;
}

.menu-button {
    padding: 0;
}

a.menu-item {
    margin-right: 0.25rem;

    &.active-link:not(:first-child, .home-button) {
        background-color: $active-button-color;
    }
}

@media screen and (max-width: 600px) {
    mat-toolbar {
        a:not(:first-child, .home-button) {
            display: none;
        }
    }
}

@media screen and (min-width: 601px) {
    mat-toolbar .mobile-spacer {
        display: none;
    }
}