<div class="mx-2 ta-c">
    <div class="mat-display-3 mt-4 mb-2">Games</div>

    <div class="mat-title">My pride and joy</div>
    <div class="mat-subheading-2 mb-4">These games are free to play and should be playable straight from the browser - no download required</div>

    <iframe src="https://itch.io/embed/1256665" height="167" [width]="compactView ? 210 : 552" frameborder="0">
        <a href="https://jevansmassive.itch.io/graveyard-prince">Graveyard Prince by Jevansmassive</a>
    </iframe>
</div>