@import 'material.scss';

.mat-subheading-1 {
    margin-bottom: 0.5rem;
    text-align: start;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-block: 0;
    padding-inline: 0;

    li {
        align-items: center;
        background-color: $card-background-contrast;
        border-radius: 0.5rem;
        display: flex;
        margin: 0.25rem;
        padding: 0.5rem;

        .mat-icon {
            color: $contrast-green;
            font-size: 14px;
            height: 14px;
            margin-right: 0.25rem;
            width: 14px;
        }
    }
}