<div class="game-container">
    <div class="game-details">
        <div class="game-name">{{ boardGamesMap[game.gameId]?.name || game.gameId }}</div>
        <!-- TODO: Add players overview -->
        <div class="game-date">{{ game.date | date }}</div>

        <button mat-mini-fab class="mx-2" color="primary" (click)="toggleExpand()">
            <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
    </div>

    <ng-container *ngIf="expanded">
        <hr>

        <ng-container *ngIf="gamePlayers?.length; else defaultPlayersList">
            <div class="game-score" *ngFor="let player of gamePlayers">
                <div class="player-name">{{ player.name }}</div>
                <div class="player-score">{{ player.score }}</div>
            </div>
        </ng-container>

        <ng-template #defaultPlayersList>
            <div class="game-score" *ngFor="let player of game.players | keyvalue">
                <div class="player-name">{{ playersMap[player.key]?.name || player.key }}</div>
                <div class="player-score">{{ player.value }}</div>
            </div>
        </ng-template>
    </ng-container>
</div>