<div class="game-container">
    <ng-container *ngIf="!!game">
        <div class="game-details">
            <!-- <div class="game-name">{{ boardGameMap[game.gameId]?.name || game.gameId }}</div> -->
            <div class="game-name">{{ game.gameId }}</div>
            <div class="game-players">{{ game.players.length }} player{{ game.players.length === 1 ? '' : 's' }}</div>
            <div class="game-date">{{ game.date | date }}</div>

            <button mat-mini-fab class="mx-2" color="primary" (click)="toggleExpand()" [matTooltip]="expanded ? 'Hide details' : 'Show details'">
                <mat-icon>{{ expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
        </div>
        <ng-container *ngIf="expanded">
            <div class="game-score" *ngFor="let player of game.players">
                <!-- <div class="player-name">{{ playerMap[player.id]?.name || player.id }}</div> -->
                <div class="player-name">{{ player.id }}</div>
                <div class="player-score">{{ player.score }}</div>
            </div>
        </ng-container>
    </ng-container>
</div>