<div class="flex-col ta-c mx-2">
    <div class="mat-display-3 my-4">Jevans' Space</div>

    <div class="mat-title mb-4">You can click this button to view some of my projects</div>

    <div>
        <a mat-flat-button color="primary" href="/projects">
            View Projects
        </a>
    </div>

    <div class="mat-title my-4">You can click this button to download my CV</div>

    <div>
        <a mat-flat-button color="primary" href="assets/documents/jack-evans-cv.pdf" target="_blank">
            Download CV
        </a>
    </div>
</div>
